.footer_outer_container {
  background-color: #111;
  color: grey;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.footer_inner_container {
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
 } 

.footer_inner_container li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.footer_icons {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 200px;
}

.footer_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

.footer_data ul {
  flex: 1; 
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service_code {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 150px;
  margin: 10px 0;
  cursor: pointer;
  padding: 5px;
}

.copy_write {
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Responsive styles for the footer */
@media (max-width: 768px) {
    .footer {
        padding: 10px;
        font-size: 0.8rem;
    }

    .footer a {
        margin: 0 5px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        margin: 5px 0;
    }
}